<p id="notice"><%= notice %></p>

<p>
  <b>Box:</b>
  <%= @slot.box_id %>
</p>

<p>
  <b>Product:</b>
  <%= @slot.product_id %>
</p>


<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
